@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2,
h3 {
  font-family: 'Playfair Display';
  font-weight: 700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

body {
  background: #262B46;
  color: #fff;
  font-family: 'Montserrat';
}

header {
  height: 352px;
}

header .navbar ul {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem auto;
}

header .navbar ul li {
  font-size: 13px;
}

header .navbar ul li:first-of-type {
  font-family: 'Playfair Display';
  font-weight: 700;
  letter-spacing: 4px;
}

header .title-section {
  width: 80%;
  margin: auto;
}

header .title-section h1 {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 3.25rem;
  margin-top: 68px;
}

header .title-section p {
  font-size: 13px;
  line-height: 1.3rem;
  margin: 2% 0 10% 0;
}

header .title-section form input[type="text"] {
  width: 128px;
  height: 32px;
  outline: none;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
  margin-right: 10px;
}

header .title-section form input[type="submit"] {
  width: 78px;
  height: 32px;
  background: #6FC3DF;
  border: none;
  border-radius: 6px;
}

header .title-section form input[type="submit"]:hover {
  cursor: pointer;
}

header .title-section form input[type="submit"]:active {
  background: #43b1d6;
}

.menu {
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu .menu-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 3rem;
  margin: 10px 0;
}

.menu .add-drink-link {
  background: #fff;
  color: #000;
}

.menu.overlay {
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.menu li a {
  display: block;
  padding: 45px 0;
}

.Collapsible__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10% 0;
}

.category {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category h2,
.category p {
  width: 80%;
  margin: 0 auto;
}

.category h2 {
  font-size: 50px;
}

.category img {
  width: 100%;
}

.cocktail-container .drink-list {
  width: 80%;
  height: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cocktail-container img {
  width: 60%;
}

.cocktail-container .title-wrapper {
  width: 40%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.cocktail-container .title-wrapper h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

.cocktail-container:nth-of-type(odd) img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.cocktail-container:nth-of-type(odd) .title-wrapper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.cocktail-container:nth-of-type(even) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.cocktail-container:nth-of-type(even) .title-wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.gin {
  background: #6FC3DF;
}

.vodka {
  background: #8D82C4;
}

.rum {
  background: #EC8D81;
}

.scotch {
  background: #E7B788;
}

.alkoholfrei {
  background: #8EA9E8;
}

.zufall {
  background: #87C5A4;
}

.map-container {
  position: relative;
}

.drink-details {
  background: #262B46;
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.drink-details .vector {
  width: 5%;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 10px;
}

.drink-details h3 {
  font-size: 28px;
  margin-top: 30px;
}

.drink-details img {
  width: 50%;
  margin: 20px 0 55px 0;
}

.drink-details .detail-container {
  display: block;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: start;
  margin: 0 auto;
}

.drink-details .detail-container ul {
  margin: 30px 0;
}

.drink-details .detail-container p {
  width: 100%;
  margin: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.arrows {
  width: initial;
}

footer {
  width: 80%;
  margin: auto;
}

footer h3 {
  font-size: 28px;
  margin-top: 100px;
}

footer p {
  line-height: 1.5rem;
  margin: 45px 0 110px 0;
}
/*# sourceMappingURL=App.css.map */